---
layout: layouts/element.njk
title: "form-field"
description: "Redirects to the web components section."
elementName: form-field
category: custom
currentPath: /docs/elements/custom-elements/form-field/
permalink: /docs/elements/custom-elements/form-field/
redirect: /docs/elements/web-components/form-field/
---

<meta http-equiv="refresh" content="0; url=/docs/elements/web-components/form-field/">
<p>This page has moved to <a href="/docs/elements/web-components/form-field/">Web Components &rsaquo; form-field</a>.</p>
