layout-stack {
  display: flex;
  flex-direction: column;
  gap: var(--_gap, var(--size-m));

  &[data-layout-gap="none"]  { --_gap: 0; }
  &[data-layout-gap="3xs"]   { --_gap: var(--size-3xs); }
  &[data-layout-gap="2xs"]   { --_gap: var(--size-2xs); }
  &[data-layout-gap="xs"]    { --_gap: var(--size-xs); }
  &[data-layout-gap="s"]     { --_gap: var(--size-s); }
  &[data-layout-gap="m"]     { --_gap: var(--size-m); }
  &[data-layout-gap="l"]     { --_gap: var(--size-l); }
  &[data-layout-gap="xl"]    { --_gap: var(--size-xl); }
  &[data-layout-gap="2xl"]   { --_gap: var(--size-2xl); }
  &[data-layout-gap="3xl"]   { --_gap: var(--size-3xl); }

  &[data-layout-align="start"]   { align-items: flex-start; }
  &[data-layout-align="center"]  { align-items: center; }
  &[data-layout-align="end"]     { align-items: flex-end; }
  &[data-layout-align="stretch"] { align-items: stretch; }
}
