@import "./x-tabs/styles.css";
@import "./x-footnotes/styles.css";
@import "./x-dialog/styles.css";
@import "./x-accordion/styles.css";
@import "./x-toast/styles.css";
@import "./x-tooltip/styles.css";
@import "./dropdown-wc/styles.css";
