@import "./tabs-wc/styles.css";
@import "./footnotes-wc/styles.css";
@import "./accordion-wc/styles.css";
@import "./toast-wc/styles.css";
@import "./tooltip-wc/styles.css";
@import "./dropdown-wc/styles.css";
@import "./theme-wc/styles.css";
@import "./heading-links/styles.css";
@import "./page-toc/styles.css";
@import "./table-wc/styles.css";
