@import "./tabs-wc/styles.css";
@import "./footnotes-wc/styles.css";
@import "./accordion-wc/styles.css";
@import "./toast-wc/styles.css";
@import "./tooltip-wc/styles.css";
@import "./dropdown-wc/styles.css";
@import "./theme-picker-wc/styles.css";
