@import "./tabs-wc/styles.css";
@import "./x-footnotes/styles.css";
@import "./dialog-wc/styles.css";
@import "./accordion-wc/styles.css";
@import "./toast-wc/styles.css";
@import "./tooltip-wc/styles.css";
@import "./dropdown-wc/styles.css";
