{{#IF_FRAMEWORK_ELEVENTY}}
{% if toc | length %}
<nav class="toc-nav" aria-label="Table of contents">
  <h2 class="toc-title">On this page</h2>
  <ul class="toc-list">
    {% for heading in toc %}
    <li class="toc-item toc-depth-{{ heading.depth }}">
      <a href="#{{ heading.slug }}" class="toc-link">
        {{ heading.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
{{/IF_FRAMEWORK_ELEVENTY}}