---
interface Props {
  tags: string[];
  small?: boolean;
}

const { tags, small = false } = Astro.props;
---

<ul class:list={['tag-list', { 'tag-list--small': small }]} aria-label="Tags">
  {tags.map((tag) => (
    <li>
      <a href={`/tags/${tag}`} class="tag">
        {tag}
      </a>
    </li>
  ))}
</ul>