/* Typography (broken out) */
@import "./headings/styles.css";
@import "./paragraph/styles.css";
@import "./anchor/styles.css";
@import "./code/styles.css";
@import "./blockquote/styles.css";
@import "./lists/styles.css";
@import "./hr/styles.css";

/* Interactive */
@import "./button/styles.css";
@import "./input/styles.css";

/* Disclosure */
@import "./details/styles.css";
@import "./dialog/styles.css";

/* Data */
@import "./table/styles.css";

/* Navigation */
@import "./nav/styles.css";
