/* Typography (broken out) */
@import "./headings/styles.css";
@import "./paragraph/styles.css";
@import "./anchor/styles.css";
@import "./code/styles.css";
@import "./blockquote/styles.css";
@import "./lists/styles.css";
@import "./hr/styles.css";

/* Interactive */
@import "./button/styles.css";
@import "./input/styles.css";
@import "./input/switch.css";

/* Disclosure */
@import "./details/styles.css";
@import "./dialog/styles.css";
@import "./tooltip/styles.css";

/* Data */
@import "./table/styles.css";

/* Navigation */
@import "./nav/styles.css";

/* Multimedia */
@import "./image/styles.css";
@import "./video/styles.css";
@import "./iframe/styles.css";
@import "./canvas/styles.css";
@import "./svg/styles.css";

/* Form Extensions */
@import "./form/styles.css";
@import "./progress/styles.css";
@import "./meter/styles.css";
@import "./output/styles.css";
@import "./datalist/styles.css";
@import "./rating/styles.css";

/* Content Sectioning */
@import "./article/styles.css";
@import "./aside/styles.css";
@import "./section/styles.css";
@import "./header/styles.css";
@import "./footer/styles.css";
@import "./main/styles.css";
@import "./address/styles.css";
@import "./hgroup/styles.css";
@import "./search/styles.css";

/* Text Content */
@import "./figure/styles.css";
@import "./menu/styles.css";

/* Inline Semantics */
@import "./inline-semantics/styles.css";
