/* readiness: FOUC prevention for custom elements */
/* Hide elements until their custom element is defined (prevents flash of unstyled content) */

[hide-until-ready]:not(:defined) {
  display: none;
}

[show-until-ready]:defined {
  display: none;
}
