/* copy-wc: Copy to clipboard button */

copy-wc {
  display: inline-flex;

  & .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

copy-wc[data-state="copied"] button {
  color: var(--color-success, oklch(50% 0.15 145));
}
