x-grid {
  display: grid;
  gap: var(--_gap, var(--size-m));
  grid-template-columns: repeat(auto-fit, minmax(var(--_min, 15rem), 1fr));

  &[data-min="6rem"]  { --_min: 6rem; }
  &[data-min="8rem"]  { --_min: 8rem; }
  &[data-min="10rem"] { --_min: 10rem; }
  &[data-min="12rem"] { --_min: 12rem; }
  &[data-min="15rem"] { --_min: 15rem; }
  &[data-min="18rem"] { --_min: 18rem; }
  &[data-min="20rem"] { --_min: 20rem; }
  &[data-min="25rem"] { --_min: 25rem; }

  &[data-gap="none"] { --_gap: 0; }
  &[data-gap="xs"]   { --_gap: var(--size-xs); }
  &[data-gap="s"]    { --_gap: var(--size-s); }
  &[data-gap="m"]    { --_gap: var(--size-m); }
  &[data-gap="l"]    { --_gap: var(--size-l); }
  &[data-gap="xl"]   { --_gap: var(--size-xl); }
}
