:root {
  --space-unit: 0.25rem;
  --space-3xs: calc(var(--space-unit) * 0.5);
  --space-2xs: calc(var(--space-unit) * 1);
  --space-xs: calc(var(--space-unit) * 2);
  --space-s: calc(var(--space-unit) * 3);
  --space-m: calc(var(--space-unit) * 4);
  --space-l: calc(var(--space-unit) * 6);
  --space-xl: calc(var(--space-unit) * 8);
  --space-2xl: calc(var(--space-unit) * 12);
  --space-3xl: calc(var(--space-unit) * 16);
}
