<!DOCTYPE html>
<html lang="en" data-page="${dataPage}" data-fluid>
<head>
  <div data-include="/includes/head.html"></div>
  ${slot:extraHead}
</head>
<body>

  <div data-include="/includes/header.html"></div>

  <main data-pagefind-body>
    ${content}
  </main>

  <div data-include="/includes/footer.html"></div>
  <div data-include="/includes/mobile-menu.html"></div>

  <short-cuts></short-cuts>
  <script type="module" src="${site.js}"></script>
  <script type="module" src="${site.uiJs}"></script>
  <script type="module" src="${site.effectsJs}"></script>
  <script type="module" src="${site.prototypeJs}"></script>
  <script type="module" src="${site.extrasJs}"></script>
  <script type="module" src="${site.docExtrasJs}"></script>
  ${slot:extraScripts}
</body>
</html>
