<!DOCTYPE html>
<html lang="en" data-page="docs" data-fluid${site.iconPathAttr}>
<head>
  <meta data-include="/includes/head.html">
  <link rel="stylesheet" href="${site.docsCss}">
  ${slot:extraHead}
</head>
<body style="overflow-x: clip;">

  <include-file src="/includes/header.html"></include-file>

  <main data-pagefind-body style="overflow-x: clip;">
    ${content}
  </main>

  <include-file src="/includes/footer.html"></include-file>
  <include-file src="/includes/mobile-menu.html"></include-file>

  <short-cuts></short-cuts>
  <script type="module" src="${site.js}"></script>
  <script type="module" src="${site.uiJs}"></script>
  <script type="module" src="${site.docExtrasJs}"></script>
  ${slot:extraScripts}
</body>
</html>
