x-stack {
  display: flex;
  flex-direction: column;
  gap: var(--_gap, var(--space-m));

  &[data-gap="none"]  { --_gap: 0; }
  &[data-gap="3xs"]   { --_gap: var(--space-3xs); }
  &[data-gap="2xs"]   { --_gap: var(--space-2xs); }
  &[data-gap="xs"]    { --_gap: var(--space-xs); }
  &[data-gap="s"]     { --_gap: var(--space-s); }
  &[data-gap="m"]     { --_gap: var(--space-m); }
  &[data-gap="l"]     { --_gap: var(--space-l); }
  &[data-gap="xl"]    { --_gap: var(--space-xl); }
  &[data-gap="2xl"]   { --_gap: var(--space-2xl); }
  &[data-gap="3xl"]   { --_gap: var(--space-3xl); }

  &[data-align="start"]   { align-items: flex-start; }
  &[data-align="center"]  { align-items: center; }
  &[data-align="end"]     { align-items: flex-end; }
  &[data-align="stretch"] { align-items: stretch; }
}
