drag-surface {
  display: block;
  min-block-size: 4rem;
  flex: 1;
  transition: background-color 0.15s ease;
}

drag-surface[data-layout] {
  display: revert-layer;
}

drag-surface:not(:defined) {
  display: block;
}
