/* qr-code-wc: QR code generator */

qr-code-wc {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

qr-code-wc canvas {
  display: block;
  image-rendering: pixelated;
  max-inline-size: 100%;
  block-size: auto;
}
