/* x-prose: Content container with typographic spacing */

x-prose {
  display: block;
  max-inline-size: var(--measure-normal, 65ch);
}

/* Vertical rhythm between elements */
x-prose > * + * {
  margin-block-start: var(--size-m);
}

/* Larger spacing before major headings */
x-prose > * + h2 {
  margin-block-start: var(--size-2xl);
}

x-prose > * + h3 {
  margin-block-start: var(--size-xl);
}

x-prose > * + h4,
x-prose > * + h5,
x-prose > * + h6 {
  margin-block-start: var(--size-l);
}

/* Tighter spacing after headings (proximity principle) */
x-prose > h2 + *,
x-prose > h3 + *,
x-prose > h4 + *,
x-prose > h5 + *,
x-prose > h6 + * {
  margin-block-start: var(--size-s);
}

/* List and blockquote spacing */
x-prose > ul + ul,
x-prose > ol + ol,
x-prose > ul + ol,
x-prose > ol + ul {
  margin-block-start: var(--size-s);
}

/* Figure and pre blocks get more breathing room */
x-prose > * + figure,
x-prose > * + pre {
  margin-block-start: var(--size-l);
}

x-prose > figure + *,
x-prose > pre + * {
  margin-block-start: var(--size-l);
}
